@use "../abstracts/" as *;

body {
  background-image: url(../assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  padding-top: 9.5rem;
  display: flex;

  font-family: "Barlow Condensed", sans-serif;

  &__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    &-title {
      position: absolute;
      left: 35rem;
      top: 25rem;
      color: $color-white;
      font-size: 2.8rem;

      text-transform: uppercase;
      letter-spacing: 0.4rem;
      font-weight: 400;
    }
    &-number {
      margin-right: 3rem;
      opacity: 40%;
    }
    &-content {
      display: flex;
      flex-direction: column;
      padding-top: 12rem;
      padding-left: 34rem;
      &__name {
        font-family: "Bellefair";
        font-weight: 400;
        font-size: 5.6rem;
        line-height: 6.4rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
      }
      &__title {
        font-family: "Bellefair";
        font-weight: 400;
        font-size: 3.2rem;
        opacity: 0.5;
        text-transform: uppercase;
        display: block;
        margin-bottom: 1.5rem;
      }
      &__text {
        width: 80%;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3.2rem;
        color: $color-secondary;
      }
    }

    &__btn {
      margin-top: 12rem;

      width: 35%;
      display: flex;

      &-1 {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2.5rem;
        background-color: $color-white;
        border-radius: 50%;
        opacity: 0.17;
        cursor: pointer;
        transition: opacity 0.2s;
        &:hover {
          opacity: 0.5;
        }
      }
      &-2 {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2.5rem;
        background-color: $color-white;
        opacity: 0.17;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.5;
        }
      }
      &-3 {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2.5rem;
        background-color: $color-white;
        border-radius: 50%;
        cursor: pointer;
      }
      &-4 {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2.5rem;
        background-color: $color-white;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.17;
        transition: opacity 0.2s;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &__right {
    width: 60%;

    display: flex;
    overflow: hidden;

    justify-content: center;
    &-photo {
      width: 57%;
    }
  }
}
