@use "../abstracts/" as *;

body {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  padding: 10rem;
  display: flex;
  font-family: "Barlow Condensed", sans-serif;

  &__left {
    display: flex;
    flex-direction: column;
    &-pick {
      position: absolute;
      left: 35rem;
      top: 25rem;
      color: $color-white;
      font-size: 2.8rem;

      text-transform: uppercase;
      letter-spacing: 0.4rem;
      font-weight: 400;
      padding-bottom: 10rem;
      &__number {
        margin-right: 3rem;
        opacity: 40%;
      }
    }
    &-moon {
      position: absolute;
      left: 40rem;
      top: 36rem;
      width: 44.5rem;
      height: 44.5rem;
    }
  }

  &__right {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    padding-top: 15rem;
    width: 40rem;
    height: 65%;
    position: absolute;
    right: 40rem;
    bottom: 15rem;
    &__nav {
      display: flex;
      height: 3.5rem;
      color: $color-secondary;
      font-size: 1.6rem;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      margin-bottom: 8rem;

      &-moon {
        margin-right: 2rem;
        border-bottom: 0.3rem solid $color-white;
      }

      &-mars {
        margin-right: 2rem;
        border-bottom: 0.3rem solid transparent;

        &:hover {
          border-bottom: 3px solid rgba($color-white, 0.5);
        }
      }

      &-europa {
        margin-right: 2rem;
        border-bottom: 0.3rem solid transparent;

        &:hover {
          border-bottom: 3px solid rgba($color-white, 0.5);
        }
      }

      &-titan {
        border-bottom: 0.3rem solid transparent;

        &:hover {
          border-bottom: 3px solid rgba($color-white, 0.5);
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba($color-white, 0.3);

      &-text {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 3.2rem;
        padding-bottom: 3rem;
        color: $color-secondary;
        &-moon {
          display: block;
          font-family: "Bellefair", serif;
          font-weight: 400;
          font-size: 10rem;
          text-transform: uppercase;
          margin-bottom: 8rem;
          color: $color-white;
        }
      }
    }

    &__footer {
      padding-top: 2rem;
      display: flex;

      &__left {
        width: 50%;
        &-text {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.7rem;
          text-transform: uppercase;
          color: $color-secondary;

          &-number {
            font-family: "Bellefair", sans-serif;
            display: block;
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 3.2rem;
            text-transform: uppercase;
            color: $color-white;
          }
        }
      }

      &-right {
        flex: 1;

        margin-left: auto;
        &__text {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.7rem;
          text-transform: uppercase;
          color: $color-secondary;
          &-number {
            font-family: "Bellefair", sans-serif;
            display: block;
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 3.2rem;
            text-transform: uppercase;
            margin-top: 1.5rem;
            color: $color-white;
          }
        }
      }
    }
  }
}
