@use "../abstracts/" as *;

body {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  padding-top: 9.5rem;
  display: flex;

  font-family: "Barlow Condensed", sans-serif;

  &__left {
    display: flex;
    padding-top: 15rem;
    padding-left: 45rem;
    width: 60%;
    &-title {
      position: absolute;
      left: 35rem;
      top: 25rem;
      color: $color-white;
      font-size: 2.8rem;

      text-transform: uppercase;
      letter-spacing: 0.4rem;
      font-weight: 400;
    }
    &-number {
      margin-right: 3rem;
      opacity: 40%;
    }

    &-content {
      display: flex;

      &__text {
        display: flex;
        flex-direction: column;

        &-1 {
          font-size: 1.6rem;
          letter-spacing: 0.3rem;
          line-height: 2rem;
          color: $color-secondary;
          text-transform: uppercase;
          margin-bottom: 2rem;
        }
        &-2 {
          font-family: "Bellefair";
          font-size: 5.6rem;
          line-height: 6.5rem;
          color: $color-white;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 2rem;
        }
        &-3 {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 3.2rem;
          color: $color-secondary;
          width: 80%;
        }
      }
    }

    &-count {
      font-family: "Bellefair";
      display: flex;
      flex-direction: column;
      padding-right: 10rem;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 3.7rem;

      &-1 {
        display: flex;
        height: 8rem;
        width: 8rem;
        background-color: transparent;
        color: $color-white;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;
        transition: all 0.2s;
        border: 1px solid rgba($color-white, 0.25);
        &:hover {
          border: 1px solid rgba($color-white, 1);
        }
      }
      &-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary;
        height: 8rem;
        width: 8rem;

        border-radius: 50%;
        background-color: $color-white;
        margin-bottom: 2.5rem;
      }
      &-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        height: 8rem;
        width: 8rem;
        color: $color-white;
        border: 1px solid rgba($color-white, 0.25);
        border-radius: 50%;
        transition: all 0.2s;
        &:hover {
          border: 1px solid rgba($color-white, 1);
        }
      }
    }
  }

  &__right {
    display: flex;
    margin-left: auto;

    &-img {
      height: 120%;
      width: 120%;
    }
  }
}
